---
import { siteConfig } from "../config";
const hasProjects = siteConfig.projects && siteConfig.projects.length > 0;
---

{
  hasProjects && (
    <section id="personals" class="p-8 sm:p-12 md:p-16 lg:p-24">
      <div>
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
          <div class="lg:col-span-4">
            <h2
              class="text-3xl sm:text-4xl md:text-5xl xl:text-6xl font-bold text-gray-900"
            >
              Personnels
            </h2>
            <div
              class="w-[75px] h-[5px] mt-2 rounded-full"
              style={`background-color: ${siteConfig.accentColor}`}
            >
            </div>
          </div>

          
            <div class="lg:col-span-8 space-y-8">
              <h3 class="text-xl sm:text-2xl font-bold text-gray-900 mt-1">
                Qualités
              </h3>

              <div class="pt-4">
                <div class="flex flex-wrap gap-3">
                  {
                    siteConfig.qualities.map((value) => (
                      <span class="px-3 sm:px-4 py-1.5 sm:py-2 bg-gray-100 text-gray-800 rounded-full text-sm 
                        sm:text-base md:text-lg font-medium hover:bg-gray-200 transition-colors duration-200">
                        {value}
                      </span>
                    ))
                  }
                </div>
              </div><br>

              <h3 class="text-xl sm:text-2xl font-bold text-gray-900 mt-1">
                Passe-temps
              </h3>

              <div class="pt-4">
                <div class="flex flex-wrap gap-3">
                  {
                    siteConfig.hobbies.map((value) => (
                      <span class="px-3 sm:px-4 py-1.5 sm:py-2 bg-gray-100 text-gray-800 rounded-full text-sm 
                        sm:text-base md:text-lg font-medium hover:bg-gray-200 transition-colors duration-200">
                        {value}
                      </span>
                    ))
                  }
                </div>
              </div>

            </div>

        </div>
      </div>
    </section>
  )
}